
<h1>Update info into database</h1>

<%= link_to 'Add Teacher',new_teacher_path %>
<br><br>
<%= link_to 'Add Student',new_student_path %>
<br><br>
<!-- list all teh student and a link to add subject for each student -->
<%= link_to 'Select Subject',students_path %>
